@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
body {
    background-color: rgb(163, 30, 7);
}

.card :hover {
    background-color: rgb(75, 138, 11);
    color: white;
}

.hero h1 {
    color: white;
}

label,
.label {
    color: white !important;
}

.field p {
    color: white !important;
}


/* .navbar-item {
    color: white !important;
} */

.navbar-start .navbar-item:hover {
    color: white !important;
    background-color: rgb(75, 138, 11);
}

#busca:hover {
    background-color: white !important;
}

.field .control .button {
    color: black !important;
    background-color: white;
}

.field .control .button:hover {
    color: white !important;
    background-color: rgb(75, 138, 11);
}

.tile .tile .tile {
    color: black;
    background-color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    color: white;
}

#idBusca {
    color: black !important;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.tabs ul li a {
    color: white;
}

.tabs ul li a:hover {
    color: chartreuse;
}


/* .tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
} */


/* Style the buttons that are used to open the tab content */

.tab ul li a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */


/* .tabs ul li a:hover {
    background-color: #ddd;
} */


/* Create an active/current tablink class */

.tabs ul li a.active {
    color: chartreuse;
}


/* Style the tab content */

.tabcontent {
    display: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}